* {
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
}
body {
    height: 90vh;
    width:90vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin:8px;
    padding:8px; 
    position:relative;
    gap:16px;
}

button{
    position: absolute;
    margin:8px;
    padding:8px;
    border:2px solid black;
    left: 8%;
    top:40%;
    background-color: rgb(196, 196, 254);
    font-family: 'Saira Stencil One', sans-serif;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height:960px;
    justify-content: center;
    

}

.child {

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.heading{
    background-color: rgb(0, 116, 240);
    color:white;
    padding:8px;
    margin:2px;
    font-size: 5rem;
    font-family: 'Saira Stencil One', sans-serif;
}